*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: white; */
    font-family: Arial, Helvetica, sans-serif;
    /* width: 100vw; */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.banner{
    /* width: 100%; */
    height: 800px;
    background-image: url('/img/Baneer-res.jpg');
    background-position: center;
    background-size: cover;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.conteiner{
    display: flex;
    justify-content: space-between;
    width: 1325px;
}
.logo, .menu, header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    padding-left: 20px;
}
header li,
header ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px 35px;
    font-size: 17px;
    margin-left: 10px;
}
/* .active a{
    background-color: #ffc200;
    color: #2f2f2f;
} */
nav a:hover{
    background-color: #ffc200;
    transition: .5s;
    color: #2f2f2f;
}
#search{
    margin-left: 30px;
}
#search:hover{
    background-color: transparent;
}
.ti_con{
    display: flex;
    justify-content: center;
    height: 650px;
}
.ti{
    justify-content: flex-end;
    align-items: center;
}

.title_headline h1{
   font-size: 90px;
   font-weight: 500;
   font-family: cursive;
   color: #ffc200;
}
.title_headline p{
    max-width: 534px;
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
    margin-top: 20px;
    margin-bottom: 45px;
    color: white;
}
.btn_geral{
    width: 245px;
    height: 47px;
    border: none;
    border-radius: 5px;
    color: #2f2f2f;
    font-weight: 600;
    background-color: #ffc200;
    cursor: pointer;
}
.btn_geral:hover, .contato button:hover{
    transition: .5s;
    background-color: #bd9309;
    color: white;
}
#geral{
    display: flex;
    justify-content: center;
}
.best{
    flex-direction: column;
}

.text_bestSeller{
    text-align: center;
    margin-top: 142px;
    margin-bottom: 78px;
    color: #333333;
}
.text_bestSeller h2{
    font-family: cursive;
    font-size: 50px;
    margin-bottom: 35px;
}
.text_bestSeller p{
    max-width: 890px;
    margin: auto;
    font-size: 25px;
    font-weight: 300;
}

.pratos{
    display: flex;
    flex: 1;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 247px;
}
.box_img{
    background-color: #c0c0c0;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin: auto;
    margin-bottom: 18px;
    overflow: hidden;
}
.box_img img{
    width: inherit;
    height: inherit;
}
.box_text{
    width: 240px;
    text-align: center;
    color: #333333;
}
.box_text h3{
    margin-bottom: 30px;
    font-size: 25px;
}


.banner2{
    background-color: #2f2f2f;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.out{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.out_prato{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
}

.outro_prato_boxImg, .img_prt5{
    background-color: #9a9a9a;
    /* width: 466px;
    height: 466px; */
    border-radius:50%;
    overflow: hidden;
}
.outro_prato_boxImg img, .img_prt5 img{
    width: inherit;
    height: inherit;
}
.outro_prato_text{
    max-width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.outro_prato_text h3, .text_statistics h3, .text_prt5 h3{
    font-size: 60px;
    font-weight: 500;
    font-family: cursive;
    color: #ffc200;
    margin-bottom: 60px;
}
.outro_prato_text p{
    font-size: 20px;
    color: white;
    margin-bottom: 60px;
    line-height: 30px;
}
.statistics{
    display: flex;
    flex-direction:column;
    margin-bottom: 346px;
}
.text_statistics{
    max-width: 830px;
    margin: auto;
    margin-top: 180px;
    text-align: center;
    margin-bottom: 100px;
}
.text_statistics h3{
    margin-bottom: 30px;
}
.text_statistics p{
    color: white;
    font-size: 20px;

}

.statistics_number{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
.circle{
    width: 233px;
    height: 233px;
    border: 7px solid white;
    border-radius: 50%;
    position: relative;
    
}
.content_circle{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

}
.number{
    font-size: 50px;
    font-weight: bolder;
    color: #ffc200;
    text-align: center;
}
.text_sta{
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}
.prato5{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;

}
.text_prt5{
    max-width: 600px;
}
.text_prt5 p{
    margin-bottom: 68px;
    font-size: 25px;
    color: white;
    /* width: 600px; */
    font-weight: 200;
}

#banner3{
    margin-top: 212px;
    background-image: url('/img/banner3.jpg');
    background-position: center;
    background-size: cover;
    height: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_b3{
    width: 70%;
    margin: auto;
    color: #333333;
    font-family: cursive;
    text-align: center;
}
.text_b3 p{
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 50px;
}
.text_b3 span{
    display: block;
    font-weight: 900;
     font-size: 50px;
}

.subscribe{
    display: flex;
    justify-content: center;
    height: 800px;
}

.sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text_sub {
    text-align: center;
    margin-bottom: 83px;
    color: #333333;
}
.text_sub h3{
    font-size: 50px;
    font-family: cursive;
    margin-bottom: 45px;

}
.text_sub p{
    font-weight:300;
    font-size: 20px;
}
.contato button , 
.contato input{
    height: 60px;
}
.contato input{
    max-width: 540px;
    padding-left: 20px;
    font-size: 20px;
    background-color: #f4f4f4;
    border: none;
    box-shadow: 0px 1px 8px 1px rgb(0 0 0 / 22%);
}
.contato button{
    width: 223px;
    border: none;
    background-color: #ffc200;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.menuMobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    margin-right: 20px;
}
.mm_line{
    height: 3px;
    background-color: #ffc200;
}


@media(max-width: 1085px){
    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    nav ul{
        flex-direction: column;
        /* display: none; */
        position: absolute;
        left: 0;
        background-color: #2f2f2f;
        width: 100%;
        align-items: flex-start;
    }
    #search{
        display: none;
    }
    header{
        height: auto;
    }
    header nav a:hover{
       background-color: transparent;
       color: white;
    }
    header nav a:active{
        color: #ffc200;
    }
    .outro_prato_text{
       display: flex;
       align-items: center;
       text-align: center;
    }

    .statistics {
        margin-bottom: 24%;
    }
    .prato5 {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .title_headline h1 {
        font-size: 90px;
        font-weight: 500;
        font-family: cursive;
        color: #ffc200;
        text-shadow: -6px 10px 12px rgba(0, 0, 0, 0.501);
    }
}
@media(max-width: 870px){
    .banner {
        background-position: right;
    }
    .ti {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media(max-width: 550px){
    .title_headline h1 {
        font-size: 50px;
    }
    .title_headline p , .text_bestSeller p, .outro_prato_text p, .text_statistics p, .text_prt5 p,.text_b3 p, .text_sub p{
        font-size: 18px;
    }
    .btn_geral {
        width: 204px;
        height: 42px;
    }
    .text_bestSeller h2, .outro_prato_text h3, .text_statistics h3, .text_prt5 h3, .text_b3 span, .text_sub h3{
        font-size: 40px;
    }
    
    .outro_prato_boxImg img, .img_prt5 img{
        width: 100%;
        height: auto;
    }
    .pratos{
        gap: 50px;
        margin-bottom: 100px;
    }
    .statistics_number {
        gap: 20px;
    }
    .circle {
        width: 149px;
        height: 149px;
    }
    .number {
        font-size: 30px;
    }
    .text_sta {
        font-size: 24px;
    }
    .text_statistics {
        margin-bottom: 40px;
        margin-top: 100px;
    }
    .text_b3 {
        width: 100%;
    }
    #banner3 {
        height: auto;
        padding: 100px 20px;
        
    }
    .contato {
        padding: 20px;
    }
    .contato input {
        padding-left: 20px;
        box-sizing: border-box;
    }
    .contato button,
    .contato input {
        width: 100%;
    }
    .banner2 {
        padding: 0 20px;
    }
    .text_sub p {
        padding: 0 20px;
    }
}



